<div class="s-intro__container">
  <div class="s-intro__content">
    <h2 #title class="display-3">Super charge your Design System.</h2>
    <p #title class="large-print">
      Take control of your design decisions and see it applied correctly everywhere, automatically. Powered by familiar
      development concepts, it’s tech technically simple.
    </p>
  </div>
  <div class="tech-token">
    <svg width="365" height="365" viewBox="0 0 365 365" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle
        #tokenGlitch
        cx="182.5"
        cy="182.5"
        r="157.5"
        stroke="#0046F9"
        stroke-width="2"
        stroke-miterlimit="3.15484"
        stroke-linecap="round"
      />
      <circle
        #tokenGlitch
        cx="182.5"
        cy="182.5"
        r="157.5"
        stroke="#00DF59"
        stroke-width="2"
        stroke-miterlimit="3.15484"
        stroke-linecap="round"
      />
      <circle
        #tokenGlitch
        cx="182.5"
        cy="182.5"
        r="157.5"
        stroke="#FF0000"
        stroke-width="2"
        stroke-miterlimit="3.15484"
        stroke-linecap="round"
      />
      <circle
        #tokenGlitch
        cx="182.5"
        cy="182.5"
        r="157.5"
        stroke="white"
        stroke-width="2"
        stroke-miterlimit="3.15484"
        stroke-linecap="round"
      />
      <g filter="url(#filter0_d_470_2280)">
        <circle #tokenRing cx="182.5" cy="182.5" r="158.5" fill="url(#paint0_radial_470_2280)" />
      </g>
      <path
        #tokenSheen
        d="M319.469 102.739C308.995 84.7522 295.08 69.0044 278.52 56.3949C261.959 43.7855 243.078 34.5613 222.952 29.249C202.827 23.9367 181.853 22.6405 161.226 25.4341C140.6 28.2278 120.726 35.0568 102.739 45.5312C84.7523 56.0055 69.0045 69.9201 56.395 86.4804C43.7856 103.041 34.5614 121.923 29.2491 142.048C23.9369 162.173 22.6406 183.147 25.4343 203.774C28.228 224.4 35.0569 244.274 45.5313 262.261L182.5 182.5L319.469 102.739Z"
        fill="url(#paint1_radial_470_2280)"
        fill-opacity="0.16"
      />
      <circle
        #tokenRing
        cx="182.5"
        cy="182.5"
        r="158.5"
        stroke="url(#paint2_linear_470_2280)"
        stroke-width="11"
        stroke-miterlimit="3.15484"
        stroke-linecap="round"
      />
      <circle #tokenRing cx="183" cy="182" r="138" stroke="url(#paint3_linear_470_2280)" stroke-width="3" />
      <circle #tokenRing cx="183" cy="182" r="124" stroke="url(#paint4_linear_470_2280)" stroke-width="6" />
      <circle #tokenRing cx="183" cy="182" r="108" stroke="url(#paint5_linear_470_2280)" stroke-width="3" />
      <path
        #tokenPen
        d="M223.875 128.083H142.625C135.146 128.083 129.083 134.146 129.083 141.625V222.875C129.083 230.354 135.146 236.417 142.625 236.417H223.875C231.354 236.417 237.417 230.354 237.417 222.875V141.625C237.417 134.146 231.354 128.083 223.875 128.083Z"
        stroke="url(#paint6_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        #tokenPen
        d="M203.562 161.938H162.938V202.562H203.562V161.938Z"
        stroke="url(#paint7_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        #tokenPen
        d="M162.938 107.771V128.083"
        stroke="url(#paint8_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        #tokenPen
        d="M203.562 107.771V128.083"
        stroke="url(#paint9_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        #tokenPen
        d="M162.938 236.417V256.729"
        stroke="url(#paint10_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        #tokenPen
        d="M203.562 236.417V256.729"
        stroke="url(#paint11_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        #tokenPen
        d="M237.417 161.938H257.729"
        stroke="url(#paint12_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        #tokenPen
        d="M237.417 195.792H257.729"
        stroke="url(#paint13_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        #tokenPen
        d="M108.771 161.938H129.083"
        stroke="url(#paint14_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        #tokenPen
        d="M108.771 195.792H129.083"
        stroke="url(#paint15_linear_470_2280)"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <defs>
        <filter
          id="filter0_d_470_2280"
          x="0.00012207"
          y="0"
          width="365"
          height="365"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="12" />
          <feComposite in2="hardAlpha" operator="out" />
          <feColorMatrix type="matrix" values="0 0 0 0 0.278908 0 0 0 0 0.220833 0 0 0 0 1 0 0 0 0.38 0" />
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_470_2280" />
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_470_2280" result="shape" />
        </filter>
        <radialGradient
          id="paint0_radial_470_2280"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(182.5 182.5) rotate(90) scale(158.5)"
        >
          <stop stop-color="#040409" />
          <stop offset="1" stop-color="#171523" />
        </radialGradient>
        <radialGradient
          id="paint1_radial_470_2280"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(182.5 182.5) rotate(90) scale(158.5)"
        >
          <stop stop-color="white" stop-opacity="0.13" />
          <stop offset="0.651042" stop-color="#FFEBA4" stop-opacity="0.4" />
          <stop offset="1" stop-color="#FFEBA4" stop-opacity="0" />
        </radialGradient>
        <linearGradient
          id="paint2_linear_470_2280"
          x1="182.5"
          y1="24"
          x2="182.5"
          y2="341"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient id="paint3_linear_470_2280" x1="183" y1="44" x2="183" y2="320" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient id="paint4_linear_470_2280" x1="183" y1="58" x2="183" y2="306" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient id="paint5_linear_470_2280" x1="183" y1="74" x2="183" y2="290" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint6_linear_470_2280"
          x1="183.25"
          y1="128.083"
          x2="183.25"
          y2="236.417"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint7_linear_470_2280"
          x1="183.25"
          y1="161.938"
          x2="183.25"
          y2="202.562"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint8_linear_470_2280"
          x1="163.438"
          y1="107.771"
          x2="163.438"
          y2="128.083"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint9_linear_470_2280"
          x1="204.062"
          y1="107.771"
          x2="204.062"
          y2="128.083"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint10_linear_470_2280"
          x1="163.438"
          y1="236.417"
          x2="163.438"
          y2="256.729"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint11_linear_470_2280"
          x1="204.062"
          y1="236.417"
          x2="204.062"
          y2="256.729"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint12_linear_470_2280"
          x1="247.573"
          y1="161.938"
          x2="247.573"
          y2="162.938"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint13_linear_470_2280"
          x1="247.573"
          y1="195.792"
          x2="247.573"
          y2="196.792"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint14_linear_470_2280"
          x1="118.927"
          y1="161.938"
          x2="118.927"
          y2="162.938"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
        <linearGradient
          id="paint15_linear_470_2280"
          x1="118.927"
          y1="195.792"
          x2="118.927"
          y2="196.792"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEBA4" />
          <stop offset="0.526814" stop-color="#FFDB5A" />
          <stop offset="1" stop-color="#FFB21C" />
        </linearGradient>
      </defs>
    </svg>
    <div #lensGlare class="design-token-lensflares">
      <div #lensFlare class="design-token-lensflare design-token-lensflare--3"></div>
      <div #lensFlare class="design-token-lensflare design-token-lensflare--2"></div>
      <div #lensFlare class="design-token-lensflare"></div>
    </div>
    <div #tokenRing class="design-token-glow"></div>
  </div>
</div>
