<div #trigger class="s-value-prop__container">
  <div class="scroll-text">
    <h2 #title class="display-1 copy--glitch">Design consistency.</h2>
    <h2 #title class="display-1 copy--glitch">Across all platforms.</h2>
    <h2 #title class="display-1 copy--glitch">Made easy.</h2>
  </div>

  <div #vortexContainer class="s-value-prop-vortex">
    <div class="s-value-prop-vortex__container">
      <svg class="c-designer-token" viewBox="0 0 365 365" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle
          #tokenGlitch
          cx="182.5"
          cy="182.5"
          r="157.5"
          stroke="#0046F9"
          stroke-width="2"
          stroke-miterlimit="3.15484"
          stroke-linecap="round"
        />
        <circle
          #tokenGlitch
          cx="182.5"
          cy="182.5"
          r="157.5"
          stroke="#00DF59"
          stroke-width="2"
          stroke-miterlimit="3.15484"
          stroke-linecap="round"
        />
        <circle
          #tokenGlitch
          cx="182.5"
          cy="182.5"
          r="157.5"
          stroke="#FF0000"
          stroke-width="2"
          stroke-miterlimit="3.15484"
          stroke-linecap="round"
        />
        <circle
          #tokenGlitch
          cx="182.5"
          cy="182.5"
          r="157.5"
          stroke="white"
          stroke-width="2"
          stroke-miterlimit="3.15484"
          stroke-linecap="round"
        />
        <g filter="url(#filter0_d_454_2173)">
          <circle #tokenRing cx="182.5" cy="182.5" r="158.5" fill="url(#paint0_radial_454_2173)" />
        </g>
        <path
          #tokenSheen
          d="M319.469 102.739C308.995 84.7522 295.08 69.0044 278.52 56.3949C261.959 43.7855 243.078 34.5613 222.952 29.249C202.827 23.9367 181.853 22.6405 161.226 25.4341C140.6 28.2278 120.726 35.0568 102.739 45.5312C84.7523 56.0055 69.0045 69.9201 56.395 86.4804C43.7856 103.041 34.5614 121.923 29.2491 142.048C23.9369 162.173 22.6406 183.147 25.4343 203.774C28.228 224.4 35.0569 244.274 45.5313 262.261L182.5 182.5L319.469 102.739Z"
          fill="url(#paint1_radial_454_2173)"
          fill-opacity="0.16"
        />
        <circle
          #tokenRing
          cx="182.5"
          cy="182.5"
          r="158.5"
          stroke="url(#paint2_linear_454_2173)"
          stroke-width="11"
          stroke-miterlimit="3.15484"
          stroke-linecap="round"
        />
        <circle #tokenRing cx="183" cy="182" r="138" stroke="url(#paint3_linear_454_2173)" stroke-width="3" />
        <circle #tokenRing cx="183" cy="182" r="124" stroke="url(#paint4_linear_454_2173)" stroke-width="6" />
        <circle #tokenRing cx="183" cy="182" r="108" stroke="url(#paint5_linear_454_2173)" stroke-width="3" />
        <path
          #tokenPen
          d="M183.25 230.646L230.646 183.25L250.958 203.563L203.563 250.958L183.25 230.646Z"
          stroke="url(#paint6_linear_454_2173)"
          stroke-width="8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          #tokenPen
          d="M223.875 190.021L213.719 139.24L115.542 115.542L139.24 213.719L190.021 223.875L223.875 190.021Z"
          stroke="url(#paint7_linear_454_2173)"
          stroke-width="8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          #tokenPen
          d="M115.542 115.542L166.905 166.905"
          stroke="url(#paint8_linear_454_2173)"
          stroke-width="8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          #tokenPen
          d="M176.479 190.021C183.958 190.021 190.021 183.958 190.021 176.479C190.021 169 183.958 162.938 176.479 162.938C169 162.938 162.938 169 162.938 176.479C162.938 183.958 169 190.021 176.479 190.021Z"
          stroke="url(#paint9_linear_454_2173)"
          stroke-width="8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <defs>
          <filter
            id="filter0_d_454_2173"
            x="0.00012207"
            y="0"
            width="365"
            height="365"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset />
            <feGaussianBlur stdDeviation="12" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix type="matrix" values="0 0 0 0 0.415686 0 0 0 0 0.368627 0 0 0 0 1 0 0 0 0.1 0" />
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_454_2173" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_454_2173" result="shape" />
          </filter>
          <radialGradient
            id="paint0_radial_454_2173"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(182.5 182.5) rotate(90) scale(158.5)"
          >
            <stop stop-color="#0E0D15" />
            <stop offset="1" stop-color="#171523" />
          </radialGradient>
          <radialGradient
            id="paint1_radial_454_2173"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(182.5 182.5) rotate(90) scale(158.5)"
          >
            <stop stop-color="white" stop-opacity="0.13" />
            <stop offset="0.651042" stop-color="#FFEBA4" stop-opacity="0.4" />
            <stop offset="1" stop-color="#FFEBA4" stop-opacity="0" />
          </radialGradient>
          <linearGradient
            id="paint2_linear_454_2173"
            x1="182.5"
            y1="24"
            x2="182.5"
            y2="341"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFEBA4" />
            <stop offset="0.526814" stop-color="#FFDB5A" />
            <stop offset="1" stop-color="#FFB21C" />
          </linearGradient>
          <linearGradient id="paint3_linear_454_2173" x1="183" y1="44" x2="183" y2="320" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFEBA4" />
            <stop offset="0.526814" stop-color="#FFDB5A" />
            <stop offset="1" stop-color="#FFB21C" />
          </linearGradient>
          <linearGradient id="paint4_linear_454_2173" x1="183" y1="58" x2="183" y2="306" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFEBA4" />
            <stop offset="0.526814" stop-color="#FFDB5A" />
            <stop offset="1" stop-color="#FFB21C" />
          </linearGradient>
          <linearGradient id="paint5_linear_454_2173" x1="183" y1="74" x2="183" y2="290" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFEBA4" />
            <stop offset="0.526814" stop-color="#FFDB5A" />
            <stop offset="1" stop-color="#FFB21C" />
          </linearGradient>
          <linearGradient
            id="paint6_linear_454_2173"
            x1="217.104"
            y1="183.25"
            x2="217.104"
            y2="250.958"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFEBA4" />
            <stop offset="0.526814" stop-color="#FFDB5A" />
            <stop offset="1" stop-color="#FFB21C" />
          </linearGradient>
          <linearGradient
            id="paint7_linear_454_2173"
            x1="169.708"
            y1="115.542"
            x2="169.708"
            y2="223.875"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFEBA4" />
            <stop offset="0.526814" stop-color="#FFDB5A" />
            <stop offset="1" stop-color="#FFB21C" />
          </linearGradient>
          <linearGradient
            id="paint8_linear_454_2173"
            x1="141.223"
            y1="115.542"
            x2="141.223"
            y2="166.905"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFEBA4" />
            <stop offset="0.526814" stop-color="#FFDB5A" />
            <stop offset="1" stop-color="#FFB21C" />
          </linearGradient>
          <linearGradient
            id="paint9_linear_454_2173"
            x1="176.479"
            y1="162.938"
            x2="176.479"
            y2="190.021"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFEBA4" />
            <stop offset="0.526814" stop-color="#FFDB5A" />
            <stop offset="1" stop-color="#FFB21C" />
          </linearGradient>
        </defs>
      </svg>

      <svg
        #vortex
        class="c-vortex"
        width="1036"
        height="1036"
        viewBox="0 0 1036 1036"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle #ring cx="518" cy="518" r="512" stroke="url(#paint0_linear_468_2291)" stroke-width="12" />
        <circle #ring cx="517.6" cy="517.6" r="409.6" stroke="url(#paint1_linear_468_2291)" stroke-width="12" />
        <circle #ring cx="518" cy="518" r="315" stroke="url(#paint2_linear_468_2291)" stroke-width="12" />
        <circle #ring cx="518.5" cy="517.5" r="222.5" stroke="url(#paint3_linear_468_2291)" stroke-width="12" />
        <defs>
          <linearGradient id="paint0_linear_468_2291" x1="6" y1="518" x2="1030" y2="518" gradientUnits="userSpaceOnUse">
            <stop stop-color="#DD96FF" />
            <stop offset="1" stop-color="#1E1E1E" stop-opacity="0" />
          </linearGradient>
          <linearGradient
            id="paint1_linear_468_2291"
            x1="108"
            y1="517.6"
            x2="927.2"
            y2="517.6"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#1E1E1E" stop-opacity="0" />
            <stop offset="1" stop-color="#C9FFC8" />
          </linearGradient>
          <linearGradient
            id="paint2_linear_468_2291"
            x1="518"
            y1="849"
            x2="518"
            y2="203"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FF83BE" />
            <stop offset="1" stop-color="#1E1E1E" stop-opacity="0" />
          </linearGradient>
          <linearGradient
            id="paint3_linear_468_2291"
            x1="518"
            y1="295"
            x2="518"
            y2="740"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#83ADFF" />
            <stop offset="1" stop-color="#1E1E1E" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <p #vortexHeading class="display-4">The power to handle a design decision from its definition to its deployment.</p>
  </div>
</div>
