<div class="c-design-token__container">
  <svg width="339" height="339" viewBox="0 0 339 339" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle
      cx="169.5"
      cy="169.5"
      r="164"
      fill="url(#paint0_linear_415:589)"
      stroke="url(#paint1_linear_415:589)"
      stroke-width="11"
      stroke-linecap="round"
    />
    <path
      d="M306.469 89.7392C295.995 71.7522 282.08 56.0044 265.52 43.3949C248.959 30.7855 230.077 21.5613 209.952 16.249C189.827 10.9367 168.853 9.64045 148.226 12.4341C127.6 15.2278 107.726 22.0568 89.7392 32.5312C71.7522 43.0055 56.0044 56.9201 43.3949 73.4804C30.7854 90.0408 21.5613 108.923 16.249 129.048C10.9367 149.173 9.64045 170.147 12.4342 190.774C15.2278 211.4 22.0568 231.274 32.5312 249.261L169.5 169.5L306.469 89.7392Z"
      fill="url(#paint2_radial_415:589)"
      fill-opacity="0.16"
    />
    <circle cx="170" cy="169" r="139.5" stroke="url(#paint3_linear_415:589)" stroke-width="3" />
    <circle cx="170" cy="169" r="127" stroke="url(#paint4_linear_415:589)" stroke-width="6" />
    <circle cx="170" cy="169" r="109.5" stroke="url(#paint5_linear_415:589)" stroke-width="3" />
    <circle
      cx="169.5"
      cy="169.5"
      r="159.5"
      stroke="url(#paint6_linear_415:589)"
      stroke-width="6"
      stroke-miterlimit="7.68167"
      stroke-linecap="round"
      stroke-linejoin="bevel"
      stroke-dasharray="24 24"
    />
    <path
      d="M233.625 198V141C233.623 138.501 232.963 136.047 231.712 133.883C230.462 131.72 228.664 129.923 226.5 128.674L176.625 100.174C174.459 98.9229 172.002 98.2645 169.5 98.2645C166.999 98.2645 164.541 98.9229 162.375 100.174L112.5 128.674C110.336 129.923 108.538 131.72 107.288 133.883C106.037 136.047 105.378 138.501 105.375 141V198C105.378 200.499 106.037 202.953 107.288 205.117C108.538 207.28 110.336 209.077 112.5 210.326L162.375 238.826C164.541 240.077 166.999 240.735 169.5 240.735C172.002 240.735 174.459 240.077 176.625 238.826L226.5 210.326C228.664 209.077 230.462 207.28 231.712 205.117C232.963 202.953 233.623 200.499 233.625 198Z"
      stroke="url(#paint7_linear_415:589)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M137.438 113.996L169.5 132.521L201.563 113.996"
      stroke="url(#paint8_linear_415:589)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M137.438 225.004V188.025L105.375 169.5"
      stroke="url(#paint9_linear_415:589)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M233.625 169.5L201.562 188.025V225.004"
      stroke="url(#paint10_linear_415:589)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M107.299 133.59L169.5 169.571L231.701 133.59"
      stroke="url(#paint11_linear_415:589)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M169.5 241.32V169.5"
      stroke="url(#paint12_linear_415:589)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <defs>
      <linearGradient id="paint0_linear_415:589" x1="169.5" y1="11" x2="169.5" y2="328" gradientUnits="userSpaceOnUse">
        <stop stop-color="#2A2930" />
        <stop offset="0.578125" stop-color="#19172B" />
        <stop offset="1" stop-color="#080712" />
      </linearGradient>
      <linearGradient id="paint1_linear_415:589" x1="169.5" y1="11" x2="169.5" y2="328" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <radialGradient
        id="paint2_radial_415:589"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(169.5 169.5) rotate(90) scale(158.5)"
      >
        <stop stop-color="white" stop-opacity="0.13" />
        <stop offset="0.651042" stop-color="#FFEBA4" stop-opacity="0.4" />
        <stop offset="1" stop-color="#FFEBA4" stop-opacity="0" />
      </radialGradient>
      <linearGradient id="paint3_linear_415:589" x1="170" y1="31" x2="170" y2="307" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient id="paint4_linear_415:589" x1="170" y1="45" x2="170" y2="293" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient id="paint5_linear_415:589" x1="170" y1="61" x2="170" y2="277" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient id="paint6_linear_415:589" x1="169.5" y1="7" x2="169.5" y2="332" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint7_linear_415:589"
        x1="169.5"
        y1="98.2645"
        x2="169.5"
        y2="240.735"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint8_linear_415:589"
        x1="169.5"
        y1="113.996"
        x2="169.5"
        y2="132.521"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint9_linear_415:589"
        x1="121.406"
        y1="169.5"
        x2="121.406"
        y2="225.004"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint10_linear_415:589"
        x1="217.594"
        y1="169.5"
        x2="217.594"
        y2="225.004"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint11_linear_415:589"
        x1="169.5"
        y1="133.59"
        x2="169.5"
        y2="169.571"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint12_linear_415:589"
        x1="170"
        y1="169.5"
        x2="170"
        y2="241.32"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
    </defs>
  </svg>
  <div class="design-token-lensflare"></div>
  <div class="design-token-glow"></div>
</div>
