<div class="c-design-token__container">
  <svg width="365" height="365" viewBox="0 0 365 365" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_425:2135)">
      <circle cx="182.5" cy="182.5" r="158.5" fill="url(#paint0_radial_425:2135)" />
    </g>
    <circle cx="183" cy="182" r="108" stroke="#151421" stroke-width="3" />
    <circle
      #tokenGlitch
      cx="182.5"
      cy="182.5"
      r="157.5"
      stroke="#0046F9"
      stroke-width="2"
      stroke-miterlimit="3.15484"
      stroke-linecap="round"
    />
    <circle
      #tokenGlitch
      cx="182.5"
      cy="182.5"
      r="157.5"
      stroke="#00DF59"
      stroke-width="2"
      stroke-miterlimit="3.15484"
      stroke-linecap="round"
    />
    <circle
      #tokenGlitch
      cx="182.5"
      cy="182.5"
      r="157.5"
      stroke="#FF0000"
      stroke-width="2"
      stroke-miterlimit="3.15484"
      stroke-linecap="round"
    />
    <circle
      #tokenGlitch
      cx="182.5"
      cy="182.5"
      r="157.5"
      stroke="white"
      stroke-width="2"
      stroke-miterlimit="3.15484"
      stroke-linecap="round"
    />
    <path
      #tokenSheen
      d="M319.469 102.739C308.995 84.7522 295.08 69.0044 278.52 56.3949C261.959 43.7855 243.078 34.5613 222.952 29.249C202.827 23.9367 181.853 22.6405 161.226 25.4341C140.6 28.2278 120.726 35.0568 102.739 45.5312C84.7523 56.0055 69.0045 69.9201 56.395 86.4804C43.7856 103.041 34.5614 121.923 29.2491 142.048C23.9369 162.173 22.6406 183.147 25.4343 203.774C28.228 224.4 35.0569 244.274 45.5313 262.261L182.5 182.5L319.469 102.739Z"
      fill="url(#paint1_radial_425:2135)"
      fill-opacity="0.16"
    />
    <circle
      #tokenRing
      cx="182.5"
      cy="182.5"
      r="158.5"
      stroke="url(#paint2_linear_425:2135)"
      stroke-width="11"
      stroke-miterlimit="3.15484"
      stroke-linecap="round"
    />
    <circle #tokenRing cx="183" cy="182" r="138" stroke="url(#paint3_linear_425:2135)" stroke-width="3" />
    <circle #tokenRing cx="183" cy="182" r="124" stroke="url(#paint4_linear_425:2135)" stroke-width="6" />
    <circle #tokenRing cx="183" cy="182" r="108" stroke="url(#paint5_linear_425:2135)" stroke-width="3" />
    <path
      d="M246.625 211V154C246.623 151.501 245.963 149.047 244.712 146.883C243.462 144.72 241.664 142.923 239.5 141.674L189.625 113.174C187.459 111.923 185.002 111.264 182.5 111.264C179.999 111.264 177.541 111.923 175.375 113.174L125.5 141.674C123.336 142.923 121.538 144.72 120.288 146.883C119.037 149.047 118.378 151.501 118.375 154V211C118.378 213.499 119.037 215.953 120.288 218.117C121.538 220.28 123.336 222.077 125.5 223.326L175.375 251.826C177.541 253.077 179.999 253.735 182.5 253.735C185.002 253.735 187.459 253.077 189.625 251.826L239.5 223.326C241.664 222.077 243.462 220.28 244.712 218.117C245.963 215.953 246.623 213.499 246.625 211Z"
      stroke="#151422"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M150.438 126.996L182.5 145.521L214.563 126.996"
      stroke="#151422"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M150.438 238.004V201.025L118.375 182.5"
      stroke="#151422"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M246.625 182.5L214.562 201.025V238.004"
      stroke="#151422"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M120.299 146.59L182.5 182.571L244.701 146.59"
      stroke="#151422"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path d="M182.5 254.32V182.5" stroke="#151422" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" />
    <path
      #tokenCube
      d="M246.625 211V154C246.623 151.501 245.963 149.047 244.712 146.883C243.462 144.72 241.664 142.923 239.5 141.674L189.625 113.174C187.459 111.923 185.002 111.264 182.5 111.264C179.999 111.264 177.541 111.923 175.375 113.174L125.5 141.674C123.336 142.923 121.538 144.72 120.288 146.883C119.037 149.047 118.378 151.501 118.375 154V211C118.378 213.499 119.037 215.953 120.288 218.117C121.538 220.28 123.336 222.077 125.5 223.326L175.375 251.826C177.541 253.077 179.999 253.735 182.5 253.735C185.002 253.735 187.459 253.077 189.625 251.826L239.5 223.326C241.664 222.077 243.462 220.28 244.712 218.117C245.963 215.953 246.623 213.499 246.625 211Z"
      stroke="url(#paint6_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      #tokenCube
      d="M150.438 126.996L182.5 145.521L214.563 126.996"
      stroke="url(#paint7_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      #tokenCube
      d="M150.438 238.004V201.025L118.375 182.5"
      stroke="url(#paint8_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      #tokenCube
      d="M246.625 182.5L214.562 201.025V238.004"
      stroke="url(#paint9_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      #tokenCube
      d="M120.299 146.59L182.5 182.571L244.701 146.59"
      stroke="url(#paint10_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      #tokenCube
      d="M182.5 254.32V182.5"
      stroke="url(#paint11_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <defs>
      <filter
        id="filter0_d_425:2135"
        x="0.00012207"
        y="0"
        width="365"
        height="365"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="12" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.415686 0 0 0 0 0.368627 0 0 0 0 1 0 0 0 0.1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_425:2135" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_425:2135" result="shape" />
      </filter>
      <radialGradient
        id="paint0_radial_425:2135"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(182.5 182.5) rotate(90) scale(158.5)"
      >
        <stop stop-color="#0E0D15" />
        <stop offset="1" stop-color="#171523" />
      </radialGradient>
      <radialGradient
        id="paint1_radial_425:2135"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(182.5 182.5) rotate(90) scale(158.5)"
      >
        <stop stop-color="white" stop-opacity="0.13" />
        <stop offset="0.651042" stop-color="#FFEBA4" stop-opacity="0.4" />
        <stop offset="1" stop-color="#FFEBA4" stop-opacity="0" />
      </radialGradient>
      <linearGradient id="paint2_linear_425:2135" x1="182.5" y1="24" x2="182.5" y2="341" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient id="paint3_linear_425:2135" x1="183" y1="44" x2="183" y2="320" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient id="paint4_linear_425:2135" x1="183" y1="58" x2="183" y2="306" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient id="paint5_linear_425:2135" x1="183" y1="74" x2="183" y2="290" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint6_linear_425:2135"
        x1="182.5"
        y1="111.264"
        x2="182.5"
        y2="253.735"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint7_linear_425:2135"
        x1="182.5"
        y1="126.996"
        x2="182.5"
        y2="145.521"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint8_linear_425:2135"
        x1="134.406"
        y1="182.5"
        x2="134.406"
        y2="238.004"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint9_linear_425:2135"
        x1="230.594"
        y1="182.5"
        x2="230.594"
        y2="238.004"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint10_linear_425:2135"
        x1="182.5"
        y1="146.59"
        x2="182.5"
        y2="182.571"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint11_linear_425:2135"
        x1="183"
        y1="182.5"
        x2="183"
        y2="254.32"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
    </defs>
  </svg>

  <div #lensGlare class="design-token-lensflares">
    <div #lensFlare class="design-token-lensflare design-token-lensflare--3"></div>
    <div #lensFlare class="design-token-lensflare design-token-lensflare--2"></div>
    <div #lensFlare class="design-token-lensflare"></div>
  </div>
  <div #tokenRing class="design-token-glow"></div>
</div>
