<div class="c-design-token__container">
  <svg width="329" height="329" viewBox="0 0 329 329" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle
      #tokenRing1
      cx="164.5"
      cy="164.5"
      r="158.5"
      fill="url(#paint0_linear_425:2135)"
      stroke="#FFDB5A"
      stroke-width="11"
      stroke-linecap="round"
    />
    <path
      d="M301.469 84.7392C290.995 66.7522 277.08 51.0044 260.52 38.3949C243.959 25.7855 225.078 16.5613 204.952 11.249C184.827 5.93674 163.853 4.64045 143.226 7.43415C122.6 10.2278 102.726 17.0568 84.7393 27.5312C66.7523 38.0055 51.0045 51.9201 38.395 68.4804C25.7856 85.0408 16.5614 103.923 11.2491 124.048C5.93686 144.173 4.64057 165.147 7.43427 185.774C10.228 206.4 17.0569 226.274 27.5313 244.261L164.5 164.5L301.469 84.7392Z"
      fill="url(#paint1_radial_425:2135)"
      fill-opacity="0.16"
    />
    <circle #tokenRing2 cx="165" cy="164" r="138" stroke="#FFDB5A" stroke-width="3" />
    <circle #tokenRing3 cx="165" cy="164" r="124" stroke="#FFEBA4" stroke-width="6" />
    <circle #tokenRing4 cx="165" cy="164" r="108" stroke="#FFEBA4" stroke-width="3" />
    <path
      d="M228.625 193V136C228.623 133.501 227.963 131.047 226.712 128.883C225.462 126.72 223.664 124.923 221.5 123.674L171.625 95.1736C169.459 93.9229 167.002 93.2644 164.5 93.2644C161.999 93.2644 159.541 93.9229 157.375 95.1736L107.5 123.674C105.336 124.923 103.538 126.72 102.288 128.883C101.037 131.047 100.378 133.501 100.375 136V193C100.378 195.499 101.037 197.953 102.288 200.117C103.538 202.28 105.336 204.077 107.5 205.326L157.375 233.826C159.541 235.077 161.999 235.735 164.5 235.735C167.002 235.735 169.459 235.077 171.625 233.826L221.5 205.326C223.664 204.077 225.462 202.28 226.712 200.117C227.963 197.953 228.623 195.499 228.625 193Z"
      stroke="url(#paint2_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M132.438 108.996L164.5 127.521L196.563 108.996"
      stroke="url(#paint3_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M132.438 220.004V183.025L100.375 164.5"
      stroke="url(#paint4_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M228.625 164.5L196.562 183.025V220.004"
      stroke="url(#paint5_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M102.299 128.59L164.5 164.571L226.701 128.59"
      stroke="url(#paint6_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M164.5 236.32V164.5"
      stroke="url(#paint7_linear_425:2135)"
      stroke-width="8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <defs>
      <linearGradient id="paint0_linear_425:2135" x1="164.5" y1="6" x2="164.5" y2="323" gradientUnits="userSpaceOnUse">
        <stop stop-color="#2A2930" />
        <stop offset="0.578125" stop-color="#19172B" />
        <stop offset="1" stop-color="#080712" />
      </linearGradient>
      <radialGradient
        id="paint1_radial_425:2135"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(164.5 164.5) rotate(90) scale(158.5)"
      >
        <stop stop-color="white" stop-opacity="0.13" />
        <stop offset="0.651042" stop-color="#FFEBA4" stop-opacity="0.4" />
        <stop offset="1" stop-color="#FFEBA4" stop-opacity="0" />
      </radialGradient>
      <linearGradient
        id="paint2_linear_425:2135"
        x1="164.5"
        y1="93.2644"
        x2="164.5"
        y2="235.735"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint3_linear_425:2135"
        x1="164.5"
        y1="108.996"
        x2="164.5"
        y2="127.521"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint4_linear_425:2135"
        x1="116.406"
        y1="164.5"
        x2="116.406"
        y2="220.004"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint5_linear_425:2135"
        x1="212.594"
        y1="164.5"
        x2="212.594"
        y2="220.004"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint6_linear_425:2135"
        x1="164.5"
        y1="128.59"
        x2="164.5"
        y2="164.571"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
      <linearGradient
        id="paint7_linear_425:2135"
        x1="165"
        y1="164.5"
        x2="165"
        y2="236.32"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEBA4" />
        <stop offset="0.526814" stop-color="#FFDB5A" />
        <stop offset="1" stop-color="#FFB21C" />
      </linearGradient>
    </defs>
  </svg>

  <div class="design-token-lensflares">
    <div class="design-token-lensflare design-token-lensflare--3"></div>
    <div class="design-token-lensflare design-token-lensflare--2"></div>
    <div class="design-token-lensflare"></div>
  </div>
  <div class="design-token-glow"></div>
</div>
