@import '../../../scss/00_imports';

:host-context(.c-design-token) {
  position: relative;
  display: block;
  width: 280px;
  height: 280px;
  @include breakpoint(sm) {
    width: 320px;
    height: 320px;
  }
  @include breakpoint(lg) {
    width: 440px;
    height: 440px;
  }
}

.c-design-token {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: $spacing--2xl;
  }
}

.design-token-lensflares {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  height: 90%;
  width: 90%;
  border-radius: 100%;
}

.design-token-lensflare {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background-color: rgba(#cbffa3, 0.25);
  opacity: 0.145;
  box-shadow: inset 0px 0px 14px 12px rgba(11, 255, 167, 1);
  &--2 {
    top: 140px;
    right: 20px;
    left: auto;
    transform: translate(-60%, -40%);
    height: 120px;
    width: 120px;
    background-color: rgba(#d6a3ff, 0.25);
    box-shadow: inset 0px 0px 14px 12px rgb(145, 11, 255);
  }
  &--3 {
    top: -20px;
    right: -20px;
    left: auto;
    height: 180px;
    width: 180px;
    background-color: rgba(#a3daff, 0.25);
    box-shadow: inset 0px 0px 14px 12px rgb(11, 166, 255);
  }
}

.design-token-glow {
  position: absolute;
  z-index: -1;
  height: 60%;
  width: 60%;
  border-radius: 100%;
  box-shadow: 0px 0px 100px 8px rgba(106, 94, 255, 0.45);
  @include breakpoint(sm) {
    height: 70%;
    width: 70%;
  }
}
