<div class="c-demo-card__container">
  <div class="c-demo-card__content">
    <div class="demo-program-subtitle">
      The <br />
      road to
    </div>
    <div class="demo-program-title">5K</div>
    <div class="c-demo-card__cover-overlay"></div>
    <div class="c-demo-card__cover-image" [ngStyle]="{backgroundImage: 'url(/assets/' + 'runner.png' + ')'}"></div>
  </div>
  <div class="c-demo-card__footer">
    <div class="c-demo-card__footer-content">
      <div class="demo-program-info">
        <span class="demo-program-details">Program</span>
        <span class="demo-program-seperator"></span>
        <span class="demo-program-details">6 Weeks</span>
      </div>
      <div class="demo-program-activity">Running</div>
    </div>
    <button class="demo-program-btn">Join</button>
  </div>
</div>
