<div class="s-tech-concepts__container">
  <div class="s-tech-concepts__intro">
    <span class="title--3">Define it. Compile it. Deploy it.</span>
    <h2 class="display-3">It's Tech technically simple.</h2>
    <p class="large-print">
      Powered by existing development concepts, it's easy for development teams to integrate and Designers to
      understand. Go ahead and get technical. The tech behind every token.
    </p>
  </div>
  <div class="s-tech-concept-1">
    <div class="s-tech-concept-1__container">
      <div class="s-tech-concept-1__content">
        <span class="title--3">Concept 01</span>
        <h2 class="display-3">JavaScript Object Notation.</h2>
        <p class="large-print">An open standard data format that powers dynamic applications on any platform.</p>
      </div>
      <div class="code-img">
        <img src="assets/json.png" />
      </div>
    </div>
  </div>
  <div class="s-tech-concept-2">
    <div class="s-tech-concept-2__intro">
      <span class="title--3">Concept 02</span>
      <h2 class="display-3">Compiling. A Build Engine Magic.</h2>
      <p class="large-print">
        A build engine compiles your Design Tokens across multiple languages, allowing for a single source of truth
        across all of your product's platforms.
      </p>
    </div>
    <div class="s-tech-concept-2__compile">
      <div class="s-tech-compile-demo">
        <div class="display-3">JSON</div>
        <div class="s-tech-build-engine">
          <div class="c-scroll-indicator">
            <div #scrollIndicator class="c-scroll-indicator-bar"></div>
          </div>
          <div class="display-1">Build Engine</div>
          <div class="c-scroll-indicator">
            <div #scrollIndicator class="c-scroll-indicator-bar"></div>
          </div>
        </div>
        <div class="s-tech-platforms">
          <div class="sub-headline">Web Applications</div>
          <div class="sub-headline">Websites</div>
          <div class="sub-headline">iOS App</div>
          <div class="sub-headline">Android App</div>
        </div>
      </div>
      <div class="s-tech-compile-vortex">
        <svg
          #vortex
          class="c-vortex"
          width="1036"
          height="1036"
          viewBox="0 0 1036 1036"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle #ring cx="518" cy="518" r="512" stroke="url(#paint0_linear_468_2291)" stroke-width="12" />
          <circle #ring cx="517.6" cy="517.6" r="409.6" stroke="url(#paint1_linear_468_2291)" stroke-width="12" />
          <circle #ring cx="518" cy="518" r="315" stroke="url(#paint2_linear_468_2291)" stroke-width="12" />
          <circle #ring cx="518.5" cy="517.5" r="222.5" stroke="url(#paint3_linear_468_2291)" stroke-width="12" />
          <defs>
            <linearGradient
              id="paint0_linear_468_2291"
              x1="6"
              y1="518"
              x2="1030"
              y2="518"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#00F88F" />
              <stop offset="1" stop-color="#00F88F" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_468_2291"
              x1="108"
              y1="517.6"
              x2="927.2"
              y2="517.6"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#00F88F" stop-opacity="0" />
              <stop offset="1" stop-color="#00F88F" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_468_2291"
              x1="518"
              y1="849"
              x2="518"
              y2="203"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#00F88F" />
              <stop offset="1" stop-color="#00F88F" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint3_linear_468_2291"
              x1="518"
              y1="295"
              x2="518"
              y2="740"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#00F88F" />
              <stop offset="1" stop-color="#00F88F" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>
